[submodule "apps/occusim"]
	path = apps/occusim
	url = https://github.com/acockburn/occusim.git
[submodule "www/lovelace-card-tools"]
	path = www/plugins/lovelace-card-tools
	url = https://github.com/thomasloven/lovelace-card-tools.git
[submodule "www/plugins/garbage-collection-card"]
	path = www/plugins/garbage-collection-card
	url = https://github.com/amaximus/garbage-collection-card.git
[submodule "custom_components/garbage_collection"]
	path = custom_components/garbage_collection
	url = https://github.com/bruxy70/Garbage-Collection.git
[submodule "www/plugins/mini-media-player"]
	path = www/plugins/mini-media-player
	url = https://github.com/kalkih/mini-media-player.git
